<div class="col s12 blog-post" data-comment-id="{{comment.id}}">
    <div class="card">
        <div class="card-header">
            <span class="date-posted">{{comment.date_created}} by {{user.username}}</span>
        </div>
        <div class="card-content">
            <p>{{comment.content}}</p>
        </div>
    </div>
</div>