<h2>Login</h2>
<div class="divider"></div>

<form id="login-form" class="row login-form">
    <div class="input-field col s10 offset-s1">
        <input id="username" type="text" class="validate">
        <label for="username">Username</label>
    </div>
    <div class="input-field col s10 offset-s1">
        <input id="password" type="password" class="validate">
        <label for="password">Password</label>
    </div>
    <div class="button-container col s10 offset-s1">
        <button id="login-button" class="login" type="submit" form="login-form">Login</button>
        <a href="/signup" id="sign-up" class="sign-up">New User? Sign Up Here!
        </a>
    </div>
</form>